<div class="notification is-info is-light">
    <article class="post">
        <div class="title">
            <a href="{{discord_link}}" target="_blank">{{discord_link}}</a>
            <span>({{Discord_link}})</span>
        </div>
        <div class="meta">
            <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </article>
</div>