
<section class="hero is-small is-transparent">
  <div class="hero-body">
    <div class="columns is-vcentered">
      <div class="column is-one-quarter">
        <figure class="image is-1x1">
          <img src="./assets/LFG-logo-white-transparent.png">
        </figure>
      </div>
      <div class="column has-text-right">
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="Search by game or interest">
          </p>
          <p class="control">
            <a class="button is-primary">
              Search
            </a>
          </p>
          <p class="control">
          <button type="button" id="logout-button" class="button is-danger">
            Logout
          </button>
          </p>
          <button type="button" id="edit-button" class="button is-info">
            Edit Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-transparent is-medium pt-0">
  <div class="columns">
    <div class="column is-3">
      <aside class="menu has-text-white">
        <p class="menu-label has-text-white">
          MY INFO:
        </p>
        <ul class="menu-list has-text-white">
          <li><a>My Profile</a></li>
          <li><a>My Friends</a></li>
        </ul>
        <p class="menu-label has-text-white">
          FILTER BY INTEREST:
        </p>
        <ul class="menu-list has-text-white">
          <li><a>XBOX</a></li>
          <li><a>Playstation</a></li>
          <li><a>PC</a></li>
          <li><a>Cross-Platform</a></li>
          <li><a>FPS</a></li>
          <li><a>MMOs</a></li>
          <li><a>MOBAs</a></li>
          <li><a>RTS</a></li>
          <li><a>RPG</a></li>
          <li><a>Sports</a></li>
          <li><a>Board Games</a></li>
          <li><a>Card Games</a></li>
          <li><a>Table Top Games</a></li>
        </ul>
      </aside>
    </div>


  <section class="column is-3">
      <form class="new-post-form box">
        <p class="has-text-weight-bold">Find Your Group</p>
        <br>
        <div class="field">
          <label class="label" for="post_title">Title</label>
          <input placeholder="LFG" class="input is-link" type="text" id="post_title" name="post_title"/>
        </div>
        <div class="field">
          <label class="label" for="discord_link">Discord Link</label>
          <input placeholder="discord.gg"class="input is-link" id="discord_link" name="discord_link"/>
        </div>
        <div class="field">
          <label class="label" for="game_title">Game</label>
          <input placeholder="Your Game"class="input is-link" id="game_title" name="game_title"/>
        </div>
        <div class="field">
          <label class="label" for="game_console">Console</label>
          <input placeholder="XBOX, PC, Cross-Platform, etc."class="input is-link" id="game_console" name="game_console"/>
        </div>
        <div class="field">
          <label class="label" for="game_type">Type</label>
          <div class="select is-link">
            <select id="game_type" name="game_type">
              <option>MMO</option>
              <option>FPS</option>
              <option>Sports</option>
              <option>MOBA</option>
              <option>RTS</option>
              <option>RPG</option>
              <option>Board Game</option>
              <option>Table Top Game</option>
              <option>Card Game</option>
              <option>Other</option>
            </select>
          </div>
          <br>
          <br>
          <div class="control has-text-centered">
            <button type="submit" id="post-submit" class="btn button is-danger">Create</button>
          </div>
      </form>
</section>

<section class="column is-4">
  <ul class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="card">
        <header class="card-header">
        <p class="card-header-title has-text-info">{{post.user.username}}</p>
        <p class="card-header-title has-text-dark">{{post.title}}</p>
        </header>
        <div class="card-content">
        <span class="has-text-danger">Discord: </span><a href="{{post.discord_link}}">{{post.discord_link}}</a>
        <br>
        <span class="has-text-danger">Game: </span><span>{{post.game_title}}</span>
        <br>
        <span class="has-text-danger">Console: </span><span>{{post.game_console}}</span>
        <br>
        <span class="has-text-danger">Game Type: </span><span> {{post.game_type}}</span>
        <br>
        <p class="has-text-weight-bold is-uppercase has-text-centered">Comments</p>
        {{#each comments as |comment|}}
        <span class="has-text-success has-text-weight-bold">{{comment.user.username}}: </span>
        <span>{{comment.comment_text}}</span>
        <br>
        {{/each}}
         </div>
    </article>
    <br>
  </li>
  {{/each}}
</ul>
</section>








<script src="/javascript/add-post.js"></script>
<script src ="/javascript/logout.js"></script>
<script src="/javascript/profile.js"></script>